.default-content {
    display: flex;
    flex-direction: column;
    margin: 0 10rem;

    h1 {
        letter-spacing: 1px;
        border-bottom: 1px solid $kahlifar-orange;
        width: max-content;
    }

    .material-icons {
        font-size: $font-size-normal;
    }
    @media screen and (max-width: $sm-max) {
        margin: 2rem;
    }
}