@import "./global/imports.scss";

body {
    background-color: $kahlifar-blue;
    color: $white;
    font-size: $font-size-normal;
    font-family: $font-family-base;
}

.material-icons {
    font-size: inherit;
}

html,
body {
    > div#__nuxt {
        > div#__layout {
            height: 100%;
        }

        height: 100%;
    }

    height: 100%;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $kahlifar-yellow;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $kahlifar-yellow-120;
}
