.event-card {
    background-color: $kahlifar-antrasit;
    border-radius: 20px;
    // padding: 1rem;
    width: 20rem;
    &__thumbnail {
        border-radius: 20px 20px 0 0;
        height: 10rem;
        width: 100%;
        object-fit: cover;
    }
    &__content {
        padding: 1rem;
    }
    &__title {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
        border-bottom: 1px solid $kahlifar-orange;
    }

    .event-card__start-date, .event-card__end-date, .event-card__location {
        display: flex;
        flex-direction: row;
        font-size: 0.9rem;
        font-weight: 600;
        margin-bottom: 0.5rem;

        .material-icons {
            margin-right: 0.25rem;
            color: $kahilfar-antrasit-60;
        }
    }
}