$border-thickness: 4px;
$transition-duration: 0.2s;

.link-button {
    background-color: $kahlifar-light-blue-80;
        border: solid $border-thickness $kahlifar-light-blue;
        color: $white;
    
        &:hover {
            background-color: $kahlifar-light-blue;
            border: solid $border-thickness $kahlifar-light-blue-120;
        }
    &__link {
        color: $white;
        display: flex;
        font-size: $font-size-normal;
        padding: 0.5rem;
        text-decoration: none;
        transition: background-color $transition-duration ease-in-out, border-color $transition-duration ease-in-out;
        width: fit-content;

        .material-icons.first-icon {
            margin-right: 0.5rem;
        }
    }
    border-radius: 6px;
    width: fit-content;
    height: max-content;
    &.blue {
        background-color: $kahlifar-blue;
        border: solid $border-thickness $kahlifar-blue-120;
        color: $white;
    
        &:hover {
            background-color: $kahlifar-blue-80;
            border: solid $border-thickness $kahlifar-blue-90;
        }
    }
    
    &.light-blue {
        background-color: $kahlifar-light-blue-80;
        border: solid $border-thickness $kahlifar-light-blue;
        color: $white;
    
        &:hover {
            background-color: $kahlifar-light-blue;
            border: solid $border-thickness $kahlifar-light-blue-120;
        }
    }
    
    &.sky-blue {
        background-color: $kahlifar-sky-blue-80;
        border: solid $border-thickness $kahlifar-sky-blue;
        color: $black;
    
        &:hover {
            background-color: $kahlifar-sky-blue;
            border: solid $border-thickness $kahlifar-sky-blue-120;
        }
    }
    
    &.yellow {
        background-color: $kahlifar-yellow-80;
        border: solid $border-thickness $kahlifar-yellow;
        color: $black;
    
        &:hover {
            background-color: $kahlifar-yellow;
            border: solid $border-thickness $kahlifar-yellow-120;
        }
    }
    
    &.orange {
        background-color: $kahlifar-orange-80;
        border: solid $border-thickness $kahlifar-orange;
        color: $white;
    
        &:hover {
            background-color: $kahlifar-orange;
            border: solid $border-thickness $kahlifar-orange-120;
        }
    }

    &.red {
        background-color: $kahlifar-red-80;
        border: solid $border-thickness $kahlifar-red;
        color: $white;
    
        &:hover {
            background-color: $kahlifar-red;
            border: solid $border-thickness $kahlifar-red-120;
        }
    }

    &.purple {
        background-color: $kahlifar-purple-80;
        border: solid $border-thickness $kahlifar-purple;
        color: $white;
    
        &:hover {
            background-color: $kahlifar-purple;
            border: solid $border-thickness $kahlifar-purple-120;
        }
    }

}