.server-profile {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    &__banner {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        height: 200px;
        width: auto;
        object-fit: cover;
    }
    &__content {
        background-color: $kahlifar-antracite;
        display: flex;
        flex-direction: row;
        padding: 1rem 2rem;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    &__info {
        margin-right: 2rem;
        &__title {
            border-bottom: $kahlifar-orange 1px solid !important;
        }
        &__subtitle {
            margin-bottom: -0.5rem;
        }
        > p {
            white-space: wrap;
        }
    }
    &__game {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: auto;

        &__image {
            width: 6rem;
            height: 6rem;
            object-fit: scale-down;
        }
        &__name {
            white-space: nowrap;
        }
        &__version {
            white-space: nowrap;
        }
    }
    a {
        color: $kahlifar-yellow;
    }
    @media screen and (max-width: $sm-max) {
        flex-direction: column;
        .server-profile {
            &__content {
                order: 2;
                &__title {
                    margin-top: 0;
                    border-bottom: none;
                }
            }
            &__game {
                order: 1;
                &__image {
                    width: 4.5rem;
                    height: 4.5rem;
                }
            }
        }
    }
}
