.typewriter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__cursor {
        display: inline-block;
        width: 2px;
        background-color: $kahlifar-orange;
        animation: cursorBlink 1s infinite;

        &--typing {
            animation: none;
        }

    }

    @keyframes cursorBlink {
        49% {
            background-color: $kahlifar-orange;
        }

        50% {
            background-color: transparent;
        }

        99% {
            background-color: transparent;
        }
    }
}