code {
    color: $white;
    background-color: $black;
    font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
    font-size: 15px;
    border-radius: 5px;
    padding: 0.5px 1px;
    margin: 0 3px;
}