// Link styling in Text
@mixin link-text {
    text-decoration: none;
    color: $kahlifar-yellow;
    font-weight: bold;

    &:hover {
        text-decoration: underline;
    }
}
span,
footer,
td,
p,
li {
    > a {
        @include link-text;
    }
}

footer {
    a {
        @include link-text;
    }
}

a.link-icon {
    margin-top: 1rem;
    align-self: flex-start;
    // margin-left: 0.5rem;
    font-size: 20px !important;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    & > .material-icons {
        margin-left: 5px;
        font-size: 50px !important;
        color: $kahlifar-yellow;
    }
}
