// Link styling in Text
span,
td,
p,
li {
    > a {
        text-decoration: none;
        color: $kahlifar-yellow;
        font-weight: bold;

        &:hover {
            text-decoration: underline;
        }
    }
}
