
$black:     #000000;
$black-80:  #666666;
$black-60:  #B2B2B2;
$black-40:  #E5E5E5;
$black-20:  #F2F2F2;

$white:     #ffffff;


$kahlifar-blue-120: #01253D;
$kahlifar-blue:     #023047;
$kahlifar-blue-90:  #15526C;
$kahlifar-blue-80:  #277490;
$kahlifar-blue-60:  #53AFC7;
$kahlifar-blue-40:  #90DFEC;
$kahlifar-blue-20:  #C6F2F5;


$kahlifar-light-blue-120:   #187CA1;
$kahlifar-light-blue:       #219EBC;
$kahlifar-light-blue-90:    #39B2C9;
$kahlifar-light-blue-80:    #51C7D6;
$kahlifar-light-blue-60:    #76E5EA;
$kahlifar-light-blue-40:    #A6F8F5;
$kahlifar-light-blue-20:    #D2FBF7;


$kahlifar-sky-blue-120: #67A1C5;
$kahlifar-sky-blue:     #8ECAE6;
$kahlifar-sky-blue-90:  #9DD4EB;
$kahlifar-sky-blue-80:  #ABDEF0;
$kahlifar-sky-blue-60:  #BEECF7;
$kahlifar-sky-blue-40:  #D5F7FC;
$kahlifar-sky-blue-20:  #EAFCFD;


$kahlifar-yellow-120:   #DB9602;
$kahlifar-yellow:       #FFB703;
$kahlifar-yellow-80:    #FFCE41;
$kahlifar-yellow-60:    #FFDC67;
$kahlifar-yellow-40:    #FFEB9A;
$kahlifar-yellow-20:    #FFF6CC;


$kahlifar-orange-120:   #D76800;
$kahlifar-orange:       #FB8500;
$kahlifar-orange-80:    #FCAC3F;
$kahlifar-orange-60:    #FDC465;
$kahlifar-orange-40:    #FEDD98;
$kahlifar-orange-20:    #FEF0CB;



