
$black:     #000000;
$black-80:  #666666;
$black-60:  #B2B2B2;
$black-40:  #E5E5E5;
$black-20:  #F2F2F2;

$white:     #ffffff;


$kahlifar-blue-120:         #01253D;
$kahlifar-blue:             #023047;
$kahlifar-blue-90:          #15526C;
$kahlifar-blue-80:          #277490;
$kahlifar-blue-60:          #53AFC7;
$kahlifar-blue-40:          #90DFEC;
$kahlifar-blue-20:          #C6F2F5;


$kahlifar-light-blue-120:   #187CA1;
$kahlifar-light-blue:       #219EBC;
$kahlifar-light-blue-90:    #39B2C9;
$kahlifar-light-blue-80:    #51C7D6;
$kahlifar-light-blue-60:    #76E5EA;
$kahlifar-light-blue-40:    #A6F8F5;
$kahlifar-light-blue-20:    #D2FBF7;


$kahlifar-sky-blue-120:     #67A1C5;
$kahlifar-sky-blue:         #8ECAE6;
$kahlifar-sky-blue-90:      #9DD4EB;
$kahlifar-sky-blue-80:      #ABDEF0;
$kahlifar-sky-blue-60:      #BEECF7;
$kahlifar-sky-blue-40:      #D5F7FC;
$kahlifar-sky-blue-20:      #EAFCFD;

$kahlifar-orange-120:       #D76800;
$kahlifar-orange:           #FB8500;
$kahlifar-orange-80:        #FCAC3F;
$kahlifar-orange-60:        #FDC465;
$kahlifar-orange-40:        #FEDD98;
$kahlifar-orange-20:        #FEF0CB;

$kahlifar-yellow-120:       #DB9602;
$kahlifar-yellow:           #FFB703;
$kahlifar-yellow-80:        #FFCE41;
$kahlifar-yellow-60:        #FFDC67;
$kahlifar-yellow-40:        #FFEB9A;
$kahlifar-yellow-20:        #FFF6CC;

$kahlifar-green-120:        #429D10;
$kahlifar-green:            #59B716;
$kahlifar-green-80:         #8AD348;
$kahlifar-green-60:         #AFE96E;
$kahlifar-green-40:         #D3F7A0;
$kahlifar-green-20:         #EBFBCF;


$kahlifar-magenta-120:      #9416A7;
$kahlifar-magenta:          #bb1fc3;
$kahlifar-magenta-80:       #DB50D6;
$kahlifar-magenta-60:       #EC75DE;
$kahlifar-magenta-40:       #F9A5E7;
$kahlifar-magenta-20:       #FCD1EF;

$kahlifar-red-120:          #B21B26;
$kahlifar-red:              #CF2626;
$kahlifar-red-80:           #E26357;
$kahlifar-red-60:           #F08F7A;
$kahlifar-red-40:           #FABDAB;
$kahlifar-red-20:           #FCE1D3;